@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bossa';
  src: url('/Assets/fonts/Bossa-Light-4.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('/Assets/fonts/Bossa-Regular-1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('/Assets/fonts/Bossa-Medium-4.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('/Assets/fonts/Bossa-Bold-4.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bossa';
  src: url('/Assets/fonts/Bossa-Black-4.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-x: hidden;
  }

  body {
    @apply bg-bg text-white font-body;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
